.dropdown{
    position: absolute;
    width: 0;
    height: 0;
    right: -40px;
    top: 40px;
    overflow: hidden;
    background-color: $background-color-light;
    transition: transform 0.5s ease;
    padding: 0;
    border-radius: 4px;
    box-shadow: 0px 0px 50px 0px $secondary-color-light;
    cursor: initial;
    .dropdown-header{
        text-align: center;
        cursor: initial;
        border-bottom: solid 1px $border-color-light;
        text-transform: capitalize;
        padding-bottom: 10px;
        color: $heading-color-light;
        &:hover{
            background-color: $background-color-light;
        }
    }
    .dropdown-list{
        width: 100%;
        height: 380px;
        overflow-y: scroll;
        padding-bottom: 30px;
        &.read{
            li{
                svg{
                    fill: $border-color-light;
                }
                background-color: $border-color-light;
            }
        }
    }
    li{
        padding: 5px 15px;
        text-transform: capitalize;
        cursor: pointer;
        text-align: left;
        position: relative;
        color: $heading-color-light;
        svg{
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            fill: $notification-color;
        }
        .notification-heading{
            font-size: 15px;
            margin:10px 0 10px;
            color: $heading-color-light;
        }
        .notification-content{
            font-size: 12px;
            margin: 0 0 10px;
            color: $primary-color-light;
        }
        .time-stamp{
            font-size: 12px;
            color: $secondary-color-light;
        }
        &:hover{
            background-color: $active-currency-light;
        }
    }
    .dropdown-footer{
        text-align: center;
        padding: 10px;
        border-top: solid 1px $border-color-light;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $background-color-light;
        text-transform: capitalize;
        color: $heading-color-light;
        cursor: pointer;
        &:hover{
            background-color: $background-color-light;
        }
    }
}

.notification-btn{
    .dropdown{
        li{
            padding: 5px 5px 5px 50px;
        }
    }
}