.currency-list{
    border-left: solid 0.7px $border-color-light;
    background-color: $background-color-light;
    .theme-dark &{
        border-left: solid 0.7px $border-color-dark;
        background-color: $background-color-dark;
    }
    .list-header{
        padding: 23px;
        border-bottom: solid 0.5px $border-color-light;
        position: relative;
        .theme-dark &{
            border-bottom: solid 0.5px $border-color-dark;
        }
        .list-heading{
            font-size: 15px;
            color: $heading-color-light;
            text-transform: capitalize;
            .theme-dark &{
                color: $heading-color-dark;
            }
        }
        svg{
            width: 20px;
            height: 12px;
            float: right;
            cursor: pointer;
            vertical-align: middle;
            fill: $heading-color-light;
            .theme-dark &{
                fill: $heading-color-dark;
            }
        }
        &.opened{
            .dropdown{
                width: 90px;
                height: 45px;
                right: 10px;
                li{
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
    }
    .list-items{
        text-align: center;
        .currency-details{
            cursor: pointer;
            border-bottom: solid 1px $border-color-light;
            padding: 17px;
            .theme-dark &{
                border-bottom: solid 0.5px $border-color-dark;
            }
            .currency-symbol{
                svg{
                    vertical-align: bottom;
                    width: 18px;
                    height: 18px;
                }
            }
            .currency-detail{
                width: 30px;
                margin: 0;
                vertical-align: super;
                .currency-abbr{
                    font-size: 11px;
                }
            }
            .currency-data{
                width: 115px;
                text-align: left;
                margin: 0 0 0 30px;
                .currency-value{
                    font-size: 11px;
                    margin: 0 5px 0 0;
                    vertical-align: super;
                    display: inline;
                }
                .currency-status{
                    font-size: 9px;
                    display: inline;
                    vertical-align: bottom;
                }
            }
            &:first-child{
                background-color: $active-currency-light;
                .theme-dark &{
                    background-color: $active-currency-dark;
                }
            }
            &:hover{
                background-color: $active-currency-light;
                .theme-dark &{
                    background-color: $active-currency-dark;
                }
            }
            &:last-child{
                border: none;
            }
        }
    }
}