.main-container{
    background-color: $container-background-light;
    width: 100vw;
    margin: 78px 0 0 220px;
    padding: 30px 265px 30px 40px;
    transition: all 0.5s ease;
    &.sidebar-small{
        margin: 78px 0 0 60px;
        padding: 30px 100px 30px 40px;
    }
}