.newsfeed{
    width: calc((100% / 2) - 10px);
    height: 290px;
    float: left;
    border-radius: 12px;
    background-color: $background-color-light;
    margin: 20px 0 0 20px;
    border: solid 0.7px $border-color-light;
    overflow: hidden;
    transition: height 0.5s ease;
    .expand-btn{
        transition: transform 0.5s ease;
        margin: 0 10px 0 0;
    }
    .newsfeed-header{
        padding: 20px;
        font-size: 15px;
        color: $heading-color-light;
        text-transform: capitalize;
        font-weight: $heading-fontweight;
        position: relative;
        .subscribe-btn{
            border: solid 0.7px $border-color-light;
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 11px;
            font-family: inherit;
            color: $heading-color-light;
            position: absolute;
            top: 15px;
            right: 20px;
            text-transform: uppercase;
        }
    }
    .newsfeed-body{
        width: calc(100% + 20px);
        padding-left: 20px;
        overflow: hidden;
    }
    &.small-section{
        height: 55px;
        .expand-btn{
            transform: rotate(-45deg);
        }
    }
}

.feed-container{
    width: 100%;
    padding: 0 30px 0 0;
    height: 250px;
    overflow: scroll;
    .feed-item{
        padding: 5px 20px;
        border: solid 0.7px $border-color-light;
        border-radius: 12px;
        margin: 0 0 20px;
        background-image: linear-gradient(135deg, $background-color-light 50%,$linear-gradient);
        background-size: 115px 110px;
        background-repeat: no-repeat;
        background-position: right bottom;
        a{
            .time-stamp{
                font-size: 11px;
                color: $heading-color-light;
                letter-spacing: 0.28px;
                margin: 0 0 15px;
            }
            .feed-title{
                font-size: 13px;
                line-height: 18px;
                color: $primary-color-light;
                width: 350px;
                margin: 0 0 10px;
            }
            .feed-content{
                font-size: 12px;
                line-height: 18px;
                color: $secondary-color-light;
                width: 350px;
            }
        }
    }
}