.stock-container{
    width: 100%;
    background-color: $background-color-light;
    border-radius: 12px;
    border: solid 0.7px $border-color-light;
    overflow: hidden;
    .stockchart-container{
        float: left;
        width: 75%;
        height: 100%;
        .stock-header{
            padding: 20px;
            border-bottom: solid 0.7px $border-color-light;
            background-color: $background-color-light;
            .currency-name{
                float: left;
                font-size: 15px;
                font-weight: $heading-fontweight;
                color: $heading-color-light;
                text-transform: uppercase;
                sub{
                    font-size: 11px;
                    color: $secondary-color-light;
                    cursor: pointer;
                    svg{
                        width: 12px;
                        height: 12px;
                        fill: $secondary-color-light;
                        vertical-align: middle;
                    }
                }
            }
            .buy-btn{
                float: right;
                font-size: 11px;
                text-align: center;
                color: #ffffff;
                text-transform: uppercase;
                padding: 5px 20px;
                border-radius: 4px;
                background-image: linear-gradient(85deg, $linear-gradient);
            }
        }
        .stock-details{
            padding: 20px;
            border-bottom: solid 0.7px $border-color-light;
            background-color: $active-currency-light;
            .current-value{
                margin: 0 70px 0 0;
                display: inline-block;
                .open-stockvalue{
                    float: left;
                    line-height: 19px;
                    font-size: 18px;
                    color: $heading-color-light;
                    font-weight: $heading-fontweight;
                    margin: 0 10px 0 0;
                }
                .stock-status{
                    font-size: 11px;
                    color: #ee2e6b;
                    svg{
                        width: 10px;
                        height: 10px;
                        fill: #ee2e6b;
                    }
                }
            }
            .overall-value{
                .label{
                    text-transform: capitalize;
                    font-size: 11px;
                    color: $secondary-color-light;
                    margin: 0 5px 0 5px;
                }
                span:nth-child(2n){
                    text-transform: capitalize;
                    font-size: 11px;
                    color: $heading-color-light;
                    margin: 0 5px 0 5px;
                }
            }
            .alert-btn{
                float: right;
                padding: 5px 0;
                text-transform: capitalize;
                font-size: 11px;
                color: $secondary-color-light;
            }
        }
    }
    .currency-list{
        float: left;
        width: 25%;
        height: 100%;
    }
}