/* color */
$notification-color: #f56c89;
$heading-color: #000a12;
$primary-color: #1f263e;
$secondary-color: #00000067;
$positive-statuscolor: #01c0aa;
$negative-statuscolor: #ee2e6b;
$linear-gradient: #0043ff 15%, #a370f1 106%;
$heading-fontweight: 700;
$subheading-fontweight: 400;
$content-fontweight: 300;