header{
    @include theme('dark','background-color-dark','background-color');
    svg{
        @include theme('dark','heading-color-dark','fill');
    }
}

.left-menu{
    .menu-btn{
        &:hover{
            @include theme('dark','brand-color-dark','fill');
        }
    }
    .box-btn{
        &:hover{
            @include theme('dark','brand-color-dark','fill');
        }
    }
    .currency-search{
        @include theme('dark','15px','border-radius');
        .search-box{
            @include theme('dark','active-currency-dark','background-color');
            @include theme('dark','heading-color-dark','color');
            &::placeholder{
                @include theme('dark','secondary-color-dark','color');
            }
        }
        .clear-btn{
            @include theme('dark','heading-color-dark','color');
        }
    }
}

.right-menu{
    .settings-btn{
        svg{
            &:hover{
                @include theme('dark','brand-color-dark','fill');
            }
        }
    }
    .notification-btn{
        &>.count{
            @include theme('dark','background-color-dark','color');
        }
        &:hover{
            &>svg{
                @include theme('dark','brand-color-dark','fill');
            }
        }
    }
}

.main-container{
    @include theme('dark','container-background-dark','background-color');
}

.carousel-buttons{
    span{
        @include theme('dark','background-color-dark','background-color');
        svg{
            @include theme('dark','secondary-color-dark','fill');
        }
        &.active{
            svg{
                @include theme('dark','heading-color-dark','fill');
            }
        }
    }
}

.carousel-list{
    .carousel-item{
        @include theme('dark','background-color-dark','background-color');
        @include theme('dark','border-color-dark','border');
    }
    &.loading{
        .carousel-loader{
            @include theme('dark','background-color-dark','background-color');
        }
    }
}

.carousel-container{
    &.list-view{
        .carousel-buttons{
            span{
                svg{
                    @include theme('dark','secondary-color-dark','fill');
                }
                &.first-child{
                    svg{
                        @include theme('dark','heading-color-dark','fill');
                    }
                }
            }
        }
    }
}

.stock-container{
    @include theme('dark','background-color-dark','background-color');
    @include theme('dark','border-color-dark','border');
    .stockchart-container{
        .stock-header{
            .theme-dark &{
                border-bottom: solid 0.7px #000000;
            }
            @include theme('dark','background-color-dark','background-color');
            .currency-name{
                @include theme('dark','heading-color-dark','color');
                sub{
                    @include theme('dark','secondary-color-dark','color');
                    svg{
                        @include theme('dark','secondary-color-dark','fill');
                    }
                }
            }
        }
        .stock-details{
            .theme-dark &{
                border-bottom: solid 0.7px #000000;
            }
            @include theme('dark','active-currency-dark','background-color');
            .current-value{
                .open-stockvalue{
                    @include theme('dark','heading-color-dark','color');
                }
            }
            .overall-value{
                .label{
                    @include theme('dark','secondary-color-dark','color');
                }
                span:nth-child(2n){
                    @include theme('dark','heading-color-dark','color');
                }
            }
            .alert-btn{
                @include theme('dark','secondary-color-dark','color');
            }
        }
    }
}

.activities{
    .theme-dark &{
        border: solid 0.7px #000000;  
    }
    @include theme('dark','background-color-dark','background-color');
    .activity-header{
        @include theme('dark','heading-color-dark','color');
    }
    .tabs-container{
        .tabs{
            @include theme('dark','secondary-color-dark','color');
            &.active{
                @include theme('dark','heading-color-dark','color');
            }
        }
    }
    .table-view{
        tr{
            .theme-dark &{
                border-bottom: solid 0.7px #000000;
            }
            &:first-child{
                .theme-dark &{
                    border-top: solid 0.7px #000000;
                }
                @include theme('dark','active-currency-dark','background-color');
            }
            th,td{
                @include theme('dark','heading-color-dark','color');
            }
            td{
                &:last-child{
                    @include theme('dark','background-color-dark','color');
                }
            }
        }
    }
}

.newsfeed{
    .theme-dark &{
        border: solid 0.7px #000000;
    }
    @include theme('dark','background-color-dark','background-color');
    .newsfeed-header{
        @include theme('dark','heading-color-dark','color');
        .subscribe-btn{
            .theme-dark &{
                border: solid 0.7px #000000;
            }
            @include theme('dark','heading-color-dark','color');
        }
    }
    .feed-container{
        .feed-item{
            .theme-dark &{
                border: solid 0.7px #000000;
            }
            @include theme('dark','feed-background','background-image');
            a{
                .time-stamp{
                    @include theme('dark','heading-color-dark','color');
                }
                .feed-title{
                    @include theme('dark','primary-color-dark','color');
                }
                .feed-content{
                    @include theme('dark','secondary-color-dark','color');
                }
            }
        }
    }
}

.currency-details{
    .currency-detail{
        .currency-abbr{
            @include theme('dark','heading-color-dark','color');
        }
        .currency-name{
            @include theme('dark','secondary-color-dark','color');
        }
    }
    .currency-data{
        .currency-value{
            @include theme('dark','heading-color-dark','color');
        }
    }
}

.dropdown{
    @include theme('dark','dropdown-shadow-dark','box-shadow');
    @include theme('dark','background-color-dark','background-color');
    .dropdown-header{
        .theme-dark &{
            border-bottom: solid 1px #000000;
        }
        @include theme('dark','heading-color-dark','color');
        &:hover{
            @include theme('dark','background-color-dark','background-color');
        }
    }
    .dropdown-list{
        &.read{
            li{
                svg{
                    @include theme('dark','border-color-dark','fill');
                }
                @include theme('dark','border-color-dark','background-color');
            }
        }
    }
    li{
        @include theme('dark','heading-color-dark','color');
        .notification-heading{
            @include theme('dark','heading-color-dark','color');
        }
        .notification-content{
            @include theme('dark','primary-color-dark','color');
        }
        .time-stamp{
            @include theme('dark','secondary-color-dark','color');
        }
        &:hover{
            @include theme('dark','active-currency-dark','background-color');
        }
    }
    .dropdown-footer{
        .theme-dark &{
            border-top: solid 1px #000000;
        }
        @include theme('dark','heading-color-dark','color');
        @include theme('dark','background-color-dark','background-color');
        &:hover{
            @include theme('dark','background-color-dark','background-color');
        }
    }
}

.highcharts-background{
    @include theme('dark','background-color-dark','fill');
}

.expand-btn{
    @include theme('dark','expand-btn-dark','border-image');
}

.currency-list{
    .theme-dark &{
        border-left: solid 0.7px #000000;
    }
    @include theme('dark','background-color-dark','background-color');
    .list-header{
        .theme-dark &{
            border-bottom: solid 0.5px #000000;
        }
        .list-heading{
            @include theme('dark','heading-color-dark','color');
        }
        svg{
            @include theme('dark','heading-color-dark','fill');
        }
    }
}

.list-items{
    .currency-details{
        .theme-dark &{
            border-bottom: solid 1px #000000;
        }
        &:first-child{
            @include theme('dark','active-currency-dark','background-color');
        }
        &:hover{
            @include theme('dark','active-currency-dark','background-color');
        }
    }
}